[Unit]
Description=Reconnect a client from the network using the unifi controller web app timely

[Timer]
Persistent=true
Unit=reconnect-ip.service
OnCalendar=*-*-* 07:00:00

[Install]
WantedBy=timers.target
