[Unit]
Description=Personal Python script that connects with the Blynk App
After=network.target

[Service]
Type=idle
User=pi
WorkingDirectory=/home/pi/Documents/my-home/roller_blind
ExecStart=/usr/bin/python3 -u main.py > /var/log/roller-blind.log 2>&1

[Install]
WantedBy=multi-user.target
