[Unit]
Description=Blynk connector service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/Documents/blynk/main.py

[Install]
WantedBy=multi-user.target
