[Unit]
Description=Personal Python script for the doorbell
After=systemd-networkd-wait-online.service
Wants=systemd-networkd-wait-online.service

[Service]
Type=idle
User=pi
WorkingDirectory=/home/pi/Documents/my-home/doorbell
ExecStart=/usr/bin/python3 -u main.py > /var/log/doorbell.log 2>&1

[Install]
WantedBy=multi-user.target
