[Unit]
Description=Camera webserver
After=network.target

[Service]
Type=idle
User=pi
WorkingDirectory=/home/pi/Documents/my-home/camera
ExecStart=/usr/local/bin/mjpg_streamer -i 'input_uvc.so -n -r 1920x1080 -softfps 5' -o 'output_http.so -p 8080 -w /usr/local/share/mjpg-streamer/www'

[Install]
WantedBy=multi-user.target